<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<div class = "row">
	<div class="col-md-8">
		<br>
			<%= gravatar_for @user, size: 150 %>
		</div>
	</div>
<br>

<h4><%= @user.username %>'s Contributions</h4>

<div class = "col-md-8">
<%= render 'articles/article', obj: @user.articles %>
</div>
<br>
<p align ="center">
<%= link_to 'Create a new article', new_article_path %> |
<%= link_to 'Back to list of contributors', users_path %>
</div>
</p>