<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOa5KsMEi1ZgvMjQuvM0WesBb-JkWCYqs&libraries=places&sensor=false"></script>    
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js">
  </script>
    <title>Glasgow Architecture Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
  </head>

  <body>
    <%= render 'layouts/navigation' %>  
    <%= render 'layouts/messages' %>
    <div class = "container-fluid">
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
  </body>
</html>
